name: Deploy Config

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Tailscale
      uses: tailscale/github-action@main
      with:
        oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
        oauth-secret: ${{ secrets.TS_OAUTH_CLIENT_SECRET }}
        tags: tag:ci

    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@main

    - name: Run the Magic Nix Cache
      uses: DeterminateSystems/magic-nix-cache-action@main

    - name: Add agamemnon to known hosts
      id: ssh-known-hosts
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan agamemnon >> ~/.ssh/known_hosts

    - name: Build and deploy
      run: |
        set -euxo pipefail
        nix run github:serokell/deploy-rs -- --hostname=agamemnon

