name: Deploy Config

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Tailscale
      uses: tailscale/github-action@main
      with:
        authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
        tags: tag:ci

    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@main

    - name: Run the Magic Nix Cache
      uses: DeterminateSystems/magic-nix-cache-action@main

    - name: Add agamemnon to known hosts
      id: ssh-known-hosts
      uses: truemark/ssh-known-hosts-action@v1
      with:
        scan-hosts: "agamemnon"

    - name: Build and deploy
      run: |
        set -euxo pipefail
        nix run github:serokell/deploy-rs -- --hostname=agamemnon

